---
import Layout from '../../layouts/Layout.astro';
import { getCollection } from 'astro:content';

const frontmatter = { lang: "en" };
const tips = await getCollection('tips');
 // @ts-ignore: Object is possibly 'null'.
 tips.sort((a, b) => a.data.week -  b.data.week);
---

<Layout frontmatter={frontmatter}>
	<section class="posts">
		<ul>
			{
				tips.map((tip) => (
					<li>
						<a class="section" href={`/tips/${tip.slug}/`}>
							<h3 class="title">{tip.data.title}</h3>
							{tip.data.week ? <span>Week {tip.data.week}</span>: ""}
						</a>
					</li>
				))
			}
		</ul>
	</section>
</Layout>