---
import Layout from '../../layouts/Layout.astro';
import { getCollection } from 'astro:content';

const frontmatter = { lang: "en" };
const tips = await getCollection('tips');
---

<Layout frontmatter={frontmatter}>
	<section>
		<ul>
			{
				tips.map((tip) => (
					<li>
						<a href={`/tips/${tip.slug}/`}>
							<h4 class="title">{tip.data.title}</h4>
						</a>
					</li>
				))
			}
		</ul>
	</section>
</Layout>