@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;500;700&display=swap');

:root {
	--color-light: #F1F1F1;
	--color-light-2: #D8D8D8;
	--color-dark: #000000;
	--color-dark-2: #656565;
	--width-full: 1200px;
	--width-lg: 800px;
	--width-md: 600px;
	--width-sm: 400px;

	--border-color-base: var(--color-dark);
	--border-color-btn-primary: var(--color-light);
	--border-style-base: solid;
	--border-radius-base: 0;
	--border-radius-btn: 0;
	--border-width-base: 1px;
	--color-bg-base: var(--color-light);
	--color-bg-btn-primary: var(--color-dark);
	--color-bg-btn-primary-hover: var(--color-dark-2);
	--color-bg-btn-base: var(--color-light-2);
	--color-bg-btn-base-hover: var(--color-light);
	--color-bg-footer: var(--color-dark);
	--color-text-base: var(--color-dark-2);
	--color-text-btn-base: var(--color-dark);
	--color-text-btn-primary: var(--color-light);
	--color-text-footer: var(--color-dark-2);
	--color-text-heading: var(--color-dark);
	--color-text-heading-footer: var(--color-light);
	--font-family-base: 'Lato', sans-serif;
	--font-family-heading: 'Merriweather', 'Lato', sans-serif;
	--font-size-base: 18px;
	--font-size-1: 2.5rem;
	--font-size-2: 2rem;
	--font-size-3: 1.75rem;
	--font-size-4: 1.5rem;
	--font-size-5: 1.25rem;
	--font-weight-base: 400;
	--font-weight-bold: 700;
	--line-height-base: 1.5em;
	--opacity-base: .7;
	--spacing-0: 0;
	--spacing-1: .5rem;
	--spacing-2: .75rem;
	--spacing-3: 1rem;
	--spacing-4: 1.5rem;
	--spacing-5: 2rem;
	--spacing-6: 3rem;

}

html {
	background: var(--color-bg-base);
	font-family: var(--font-family-base);
	min-height: 100%;
}

body {
	margin: var(--spacing-1);
}

footer, header, main {
	margin: 0 auto;
	max-width: var(--width-full);
}


a, button, h1, h2, h3, h4, h5, input, p, span {
	line-height: var(--line-height-base);
}

blockquote {
	background: var(--color-light-2);
	border-left-color: var(--color-dark-2);
	border-left-style: var(--border-style-base);
	border-left-width: 6px;
	margin: var(--spacing-2) 0;
	padding: var(--spacing-2) var(--spacing-3);
}

blockquote p {
	margin: 0;
}

h1, h2 {
	font-family: var(--font-family-heading);
	font-weight: var(--font-weight-base);
	line-height: var(--line-height-base);
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

ul ul,
ol ul {
	list-style-type: circle;
}

ol ol ul,
ol ul ul,
ul ol ul,
ul ul ul {
	list-style-type: square;
}

li > ul,
li > ol {
	margin-bottom: var(--spacing-0);
	margin-left: var(--spacing-4);
}

img {
	height: auto;
	max-width: 100%;
}

table {
	margin: 0 0 var(--spacing-4);
}

.btn,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	background-color: var(--color-bg-btn-base);
	border-color: var(--border-color-base);
	border-radius: var(--border-radius-btn);
	border-style: var(--border-style-base);
	border-width: var(--border-width-base);
	color: var(--color-text-btn-base);
	cursor: pointer;
	font-size: var(--font-size-base);
	font-weight: var(--font-weight-bold);
	margin-right: var(--spacing-1);
	padding: var(--spacing-1) var(--spacing-2);
	text-decoration: none;
}

.btn:active,
.btn:focus,
.btn:hover,
button:active,
button:focus,
button:hover,
input[type="button"]:active,
input[type="button"]:focus,
input[type="button"]:hover,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="reset"]:hover,
input[type="submit"]:active,
input[type="submit"]:focus,
input[type="submit"]:hover {
	background-color: var(--color-bg-btn-base-hover);
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	background-color: var(--color-bg-btn-base);
	border-color: var(--border-color-base);
	border-radius: var(--border-radius-base);
	border-style: var(--border-style-base);
	border-width: var(--border-width-base);
	color: var(--color-text-btn-base);
	font-size: var(--font-size-base);
	outline: none;
	padding: var(--spacing-1) var(--spacing-2);
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
	background-color: var(--color-bg-btn-base-hover);
}

footer {
	background-color: var(--color-bg-footer);
	box-sizing: border-box;
	color: var(--color-text-footer);
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: var(--spacing-5) auto;
	padding: var(--spacing-4);
}

footer h2, footer h3, footer label {
	color: var(--color-text-heading-footer);
}

footer h3::after {
	display: block;
	height: 2px;
	width: 40px;
	content: ' ';
	background: var(--color-text-footer);
	margin-top: 7px;
}

footer label {
	color: var(--color-text-base);
}

footer .site-details {
	flex-basis: 66%;
}

footer .site-form {
	flex-basis: 33%;
}

footer .site-info {
	/* border-top-color: var(--color-dark-2); */
	/* border-top-style: var(--border-style-base); */
	/* border-width: var(--border-width-base); */
	flex-basis: 100%;
	/* margin-top: var(--spacing-3); */
	/* padding-top: var(--spacing-3); */
	text-align: center;
}

form input {
	margin-bottom: var(--spacing-2);
}

form label {
	display: block;
	margin-bottom: var(--spacing-1);
}

header {
	margin-bottom: var(--spacing-5);
	text-align: center;
}

header a {
	color: inherit;
	display: block;
	padding: var(--spacing-0) var(--spacing-1);
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
}

header ul a:hover, header ul li.active a {
	text-decoration: underline;
}

header li {
	display: inline-block;
}

header ul {
	list-style: none;
	padding: 0;
}

header .language-navigation {
	margin-bottom: var(--spacing-6);
}

header .language-navigation li:first-child {
	border-right-color: var(--border-color-base);
	border-right-style: var(--border-style-base);
	border-right-width: var(--border-width-base);
}

header .site-navigation {
	border-bottom-color: var(--border-color-base);
	border-bottom-style: var(--border-style-base);
	border-bottom-width: var(--border-width-base);
	border-top-color: var(--border-color-base);
	border-top-style: var(--border-style-base);
	border-top-width: var(--border-width-base);
}

header .site-navigation a {
	padding: var(--spacing-2) var(--spacing-3);
}

header .site-navigation ul {
	margin: 0;
}

header .site-title {
	font-size: var(--font-size-1);
	margin-bottom: 0;
	margin-top: var(--spacing-6);
}

p {
	margin-block-start: var(--spacing-5);
	margin-block-end: var(--spacing-5);;
}

.posts ul {
	display: grid;
	gap: var(--spacing-3);
	grid-template-columns: repeat(3, 1fr);
	list-style: none;
	padding: 0;
}

.posts a {
	color: inherit;
	display: block;
	height: 100%;
	text-align: center;
	text-decoration: none;
}

.posts a:hover {
	background-color: var(--color-light-2);
}

.section {
	border-color: var(--border-color-base);
	border-style: var(--border-style-base);
	border-width: var(--border-width-base);
	box-sizing: border-box;
	padding: var(--spacing-4) var(--spacing-5);
	margin: 0 auto;
}

.section h2, .section h3 {
	margin-bottom: var(--spacing-3);
	text-align: center;
}

.section h3 {
	padding: var(--spacing-0) var(--spacing-3);
}

.section p {
	margin: 0;
}

.section .section-title {
	background: var(--color-light);
	line-height: 1em;
	position: relative;
	text-transform: uppercase;
	width: fit-content;
}

.section h1.section-title {
	margin-top: -1.5em;
}

.section h4.section-title {
	margin-top: -2.1em;
}

.section .section-info {
	margin-bottom: var(--spacing-3);
	padding: var(--spacing-0) var(--spacing-3);
}

.starter-page {
	align-items: center;
	box-sizing: border-box;
	display:flex;
	padding: var(--spacing-1);
	min-height: 100vh;
}

.starter-page .site-title {
	margin-top: 0;
}

.two-columns {
	display: flex;
	gap: var(--spacing-5);
}

.column-one {
	flex-basis: 70%;
	width: 100%;
}

.column-two {
	flex-basis: 30%;
	width: 100%;
}

.column-two .section {
	margin-bottom: var(--spacing-5);
}

@media (max-width: 800px) {
	.two-columns {
		flex-direction: column;
	}
}

#sib-container {
	background: none;
	padding: 0;
}

.sib-form {
	padding: 0;
}

.sib-form-block {
	padding: 0;
}