@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;500;700&display=swap');

:root {
  --main-family: 'Lato', sans-serif;
  --color-bg: linear-gradient(180deg, #FFFFFF 0%, #AEC6DC 100%);
}

html {
  background: var(--color-bg);
  font-family: var(--main-family);
  min-height: 100%;
}

button,
input,
select,
textarea {
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.5;
}

pre {
	background: #eee;
	font-family: "Raleway", Courier, monospace;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

ul ul,
ol ul {
	list-style-type: circle;
}

ol ol ul,
ol ul ul,
ul ol ul,
ul ul ul {
	list-style-type: square;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

table {
	margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: none;
	background: #0074c4;
	color: #ffffff;
	font-size: 16px;
	line-height: 1.5;
	padding: 10px 20px;
	text-transform: uppercase;
	font-weight: bold;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	opacity: 0.7;
}

input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active,
button:focus,
button:active {
	border-color: #e5e5e5 #e5e5e5 #e5e5e5;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	color: #999;
	border: 1px solid #e5e6e9;
	padding: 8px 14px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
	color: #010101;
}

textarea {
	padding-left: 5px;
	width: 100%;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
	margin: 0;
	padding-bottom: 20px;
}

/* Make sure select elements fit in widgets. */
.widget select {
	max-width: 100%;
}

/* Search widget. */
.widget_search .search-submit {
	display: none;
}
.widget-area .search-field {
	width: 100%;
	height: 46px;
	line-height: 46px;
	box-sizing: border-box;
}

.widget ul li a:hover {
	opacity: 0.8;
}

.widget-area {
	width: 30%;
	float: left;
}
.widget {
	width: 100%;
	padding: 8.8%;
	float: left;
	clear: both;
}
.widget h2 {
	font-size: 20px;
	color: #1a1a1a;
	border-bottom: 4px solid #1a1a1a;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 20px;
	padding-bottom: 15px;
}
.widget ul {
	padding: 0;
	margin-bottom: 0;
	list-style-position: inside;
}
.widget > ul {
	margin: 0;
}
.widget ul li {
	padding: 0 0 10px 0;
}
.widget ul li:last-child {
	padding-bottom: 0;
}
.widget ul li.recentcomments {
	color: #919191;
}
.widget .popular-post-meta,
.widget .recent-post-meta {
	font-size: 12px;
	line-height: normal;
}
.widget .post-img {
	float: left;
	margin-right: 10px;
}