---
import Layout from '../../layouts/LayoutEs.astro';
import { getCollection } from 'astro:content';

const devocionales = await getCollection('devocionales');
---

<Layout>
	<section class="posts">
		<ul>
			{
				devocionales.map((devocional) => (
					<li>
						<a class="section" href={`/devocionales/${devocional.slug}/`}>
							<h4 class="title">{devocional.data.title}</h4>
							{devocional.data.week && <span>Semana {devocional.data.week}</span>}
						</a>
					</li>
				))
			}
		</ul>
	</section>
</Layout>