---
import Layout from '../../layouts/LayoutEs.astro';
import { getCollection } from 'astro:content';

const devocionales = await getCollection('devocionales');
---

<Layout>
	<section>
		<ul>
			{
				devocionales.map((devocional) => (
					<li>
						<a href={`/devocionales/${devocional.slug}/`}>
							<h4 class="title">{devocional.data.title}</h4>
						</a>
					</li>
				))
			}
		</ul>
	</section>
</Layout>