---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../const';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
    <main>
      <svg id="background" width='1728' height='1235' viewBox="0 0 1728 1235" fill='none' xmlns='http://www.w3.org/2000/svg'><g opacity='0.75' filter='url(#filter0_f_39_143)'><circle cy='1000' r='264' fill='url(#paint0_linear_39_143)'/></g><g opacity='0.65' filter='url(#filter1_f_39_143)'><circle cx='1720' cy='264' r='379' fill='url(#paint1_linear_39_143)'/></g><defs><filter id='filter0_f_39_143' x='-485' y='515' width='970' height='970' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><filter id='filter1_f_39_143' x='1120' y='-336' width='1200' height='1200' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><linearGradient id='paint0_linear_39_143' x1='196.5' y1='902' x2='-2.55853e-05' y2='1264' gradientUnits='userSpaceOnUse'><stop stop-color="var(--bttm-left-blur-1)"/><stop offset='1' stop-color="var(--bttm-left-blur-2)"/></linearGradient><linearGradient id='paint1_linear_39_143' x1='1720' y1='-115' x2='1720' y2='643' gradientUnits='userSpaceOnUse'><stop stop-color="var(--top-right-blur-1)"/><stop offset='1' stop-color="var(--top-right-blur-2)" /></linearGradient></defs></svg>     
      <div id="content">
        <div class="header">
          <h1>About "Nurturing the Soul of the Bible Study Leader"</h1>
          <section>
            <blockquote>
              Make me know your ways, O LORD;
              teach me your paths.
              Lead me in your truth and teach me,
              for you are the God of my salvation;
              for you I wait all the day long. 
              (Psalm 25:4-5, ESV)
            </blockquote>
            <p>
              God wants to be my teacher, but sometimes it is easy for me to miss this. I’ve been leading small group Bible studies for almost 50 years, and most of the time I’ve tried to allow God to teach me first as I prepare to teach others, but sometimes this has been a struggle. I can become so focused on what the people I am teaching need to know and do that I don’t spend enough time asking what God desires to do in my own life. I become content with second-hand truth – truth for “you,” instead of truth for “us.” When I recognize this tendency in myself I repent, turn back to Psalm 25, and join the psalmist in asking God to remember his mercy and steadfast love, teach me His ways, and lead me in a life of obedience to His truth. 
            </p>
            <p>
              This devotional collection is for everyone who leads Bible study groups, whatever settings you are in, to encourage you to allow God to be your teacher. I invite you to read and reflect on these Scriptures and let God nurture your soul, encourage your heart, and strengthen you for the ministry He has called you to. Sometimes setting aside time for our own devotional lives is an easy thing to do, and other times it is a challenge because we are busy people – so busy “feeding” others that we can neglect our own souls in the process. Often, we prepare spiritual banquets for others to enjoy, and grab only a few crumbs for ourselves on the run. This is not God’s desire for us. I invite you to join me in reading, reflecting, and praying to our Father, that He might feed us so that we may grow in our own walk with Him and in turn feed others well. 
            </p>
            <p>
              The Scriptures are filled with passages that talk about teaching and learning. God has much to tell us about how we should approach our teaching ministries, how to learn first and teach second, and how to partner with Him in teaching others. I’m convinced that if we want our Bible study ministries to be fruitful for God’s purposes, we need to take time to carefully reflect on what Scripture tells us about this important ministry, and about ourselves, as teachers.
            </p>
            <p>
              These fifty-two devotionals focus on places in Scripture where God has something important for us to understand about teaching and learning that promotes spiritual growth and maturity. The truths in these passages are important for our own formation as God’s children, and as those called to teach others. Please join me in inviting God to be our teacher, for our own growth and the sake of those we teach.
            </p>
            <blockquote>
              Father, we pray that you would be our teacher and that we would devote ourselves to learn from you. Please grow and strengthen us, purify and transform us so that what we teach is an overflow of your gracious and loving work within us. Teach us your ways so that we can honor you with our lives, and so that we may better teach those you have called us to serve. Amen.
            </blockquote>
            <p>
              Dr. Kevin E. Lawson
              Global Affiliate Professor of Educational Studies
              Talbot School of Theology, Biola University
            </p>
          </section>
          <p>
        </div>
      </div>
    </main>
    <Footer />
  </body>
</html>
