---
import BaseHead from '../components/BaseHead.astro';
import { SITE_TITLE } from '../const';

const { title, description } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>

	<body class="starter-page">
		<main class="section">
			<header class="site-header">
				<h2 class="site-title">Welcome to {SITE_TITLE}</h2>
				<h3>Choose your language</h3>
				<nav class="language-navigation">
					<ul>
						<li><a href="/home">English</a></li>
						<li><a href="/inicio">Español</a></li>
					</ul>
				</nav>
				<img src="/bible_and_coffee.jpg" />
			</header>
		</main>
	</body>
</html>