---
const { frontmatter } = Astro.props;
const today = new Date();
---

{frontmatter.lang == "en" &&
	<footer class="site-footer">
		<section class="site-info">
			&copy; {today.getFullYear()} biblestudyleader.com. All rights reserved.
		</section>
	</footer>
}

{frontmatter.lang == "es" &&
	<footer class="site-footer">
		<section class="site-info">
			&copy; {today.getFullYear()} liderdeestudiobiblico.com. Todos los derechos reservados.
		</section>
	</footer>
}

{frontmatter.lang == "pt" &&
	<footer class="site-footer">
		<section class="site-info">
			&copy; {today.getFullYear()} líderdeestudosbíblicos.com. Todos os direitos reservados.
		</section>
	</footer>
}