---
import { SITE_TITLE } from '../const';
---

<header class="site-header">
	<h2 class="site-title"><a href="/" rel="home">{SITE_TITLE}</a></h2>
	<nav class="site-navigation">
		<ul>
			<li><a href="/es">Home</a></li>
			<li><a href="/es/blog">Blog</a></li>
			<li><a href="/es/about">About</a></li>
		</ul>
	</nav>
	<nav class="language-navigation">
		<ul>
			<li><a href="/en">English</a></li>
			<li><a href="/es">Español</a></li>
		</ul>
	</nav>
</header>