---
import { SITE_DOMAIN, SITE_DOMAIN_ES, SITE_DOMAIN_PT, SITE_TITLE, SITE_TITLE_ES, SITE_TITLE_PT } from '../const';

const { frontmatter } = Astro.props;
const currentPath = Astro.url.pathname;
---


{frontmatter.lang == "en" &&
	<header class="site-header">
		<h2 class="site-title"><a href="/" rel="home">{SITE_TITLE}</a></h2>
		<nav class="language-navigation">
			<ul>
				<li><a href={ SITE_DOMAIN + '/home' }>English</a></li>
				<li><a href={ SITE_DOMAIN_ES + '/inicio' }>Español</a></li>
				<li><a href={ SITE_DOMAIN_PT + '/inicio-pt' }>Português</a></li>
			</ul>
		</nav>
		<nav class="site-navigation">
			<ul>
				<li class={currentPath.includes("/home") ? "active" : ""}><a href="/home">Home</a></li>
				<li class={currentPath.includes("/devotionals") ? "active" : ""}><a href="/devotionals">Devotionals</a></li>
				<li class={currentPath.includes("/about") ? "active" : ""}><a href="/about">About</a></li>
			</ul>
		</nav>
	</header>
}

{frontmatter.lang == "es" &&
	<header class="site-header">
		<h2 class="site-title"><a href="/" rel="home">{SITE_TITLE_ES}</a></h2>
		<nav class="language-navigation">
			<ul>
				<li><a href={ SITE_DOMAIN + '/home' }>English</a></li>
				<li><a href={ SITE_DOMAIN_ES + '/inicio' }>Español</a></li>
				<li><a href={ SITE_DOMAIN_PT + '/inicio-pt' }>Português</a></li>
			</ul>
		</nav>
		<nav class="site-navigation">
			<ul>
				<li class={currentPath.includes("/inicio") ? "active" : ""}><a href="/inicio">Inicio</a></li>
				<li class={currentPath.includes("/devocionales") ? "active" : ""}><a href="/devocionales">Devocionales</a></li>
				<li class={currentPath.includes("/acerca-de") ? "active" : ""}><a href="/acerca-de">Acerca De</a></li>
			</ul>
		</nav>
	</header>
}

{frontmatter.lang == "pt" &&
	<header class="site-header">
		<h2 class="site-title"><a href="/" rel="home">{SITE_TITLE_PT}</a></h2>
		<nav class="language-navigation">
			<ul>
				<li><a href={ SITE_DOMAIN + '/home' }>English</a></li>
				<li><a href={ SITE_DOMAIN_ES + '/inicio' }>Español</a></li>
				<li><a href={ SITE_DOMAIN_PT + '/inicio-pt' }>Português</a></li>
			</ul>
		</nav>
		<nav class="site-navigation">
			<ul>
				<li class={currentPath.includes("/inicio-pt") ? "active" : ""}><a href="/inicio-pt">Inicio (PT)</a></li>
				<li class={currentPath.includes("/devocionais") ? "active" : ""}><a href="/devocionais">Devocionais</a></li>
				<li class={currentPath.includes("/acerca-de-pt") ? "active" : ""}><a href="/acerca-de-pt">Acerca De (PT)</a></li>
			</ul>
		</nav>
	</header>
}