---
const { frontmatter } = Astro.props;
---

{frontmatter.lang == "en" &&
<div class="section">
  <h4 class="section-title">Purchase the Book</h4>
  <a class="btn" href="https://www.amazon.com/Feeding-Soul-Bible-Study-Leader/dp/B0CHVZLBH7/ref=sr_1_1?crid=1E8FXPHN8M68W&amp;keywords=feeding+the+soul+of+the+bible+study+leader&amp;qid=1701736434&amp;s=books&amp;sprefix=feeding+the+soul+of+the+bible+study+leader%2Cstripbooks%2C135&amp;sr=1-1" target="_blank">Buy Now</a>
</div>
}

{frontmatter.lang == "es" &&
<div class="section">
  <h4 class="section-title">Comprar el libro</h4>
  <a class="btn" href="https://www.amazon.com/Alimentando-Alma-Líder-Estudios-Bíblicos/dp/B0CK3QDGRJ/ref=sr_1_1?crid=YLKWGA87CF2M&amp;keywords=ALIMENTANDO+EL+ALMA+DEL+LÍDER+DE+ESTUDIOS+BÍBLICOS&amp;qid=1701736538&amp;s=books&amp;sprefix=alimentando+el+alma+del+líder+de+estudios+bíblicos%2Cstripbooks%2C1073&amp;sr=1-1" target="_blank">Comprar Ahora</a>
</div>
}