---
import type { CollectionEntry } from 'astro:content';
import Layout from './LayoutEn.astro';

const { title } = Astro.props;

type Props = CollectionEntry<"devotionals">['data'];
---

<Layout>
	<article>
		<div class="prose">
			<div class="title">
				<h1>{title}</h1>
			</div>
			<slot />
		</div>
	</article>
</Layout>
