---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/HeaderEn.astro';
import Footer from '../components/FooterEn.astro';


const { title, description } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>

	<body>
		<Header />
		<main>
			<slot />
		</main>
		<Footer />
	</body>
</html>
