---
import type { CollectionEntry } from 'astro:content';
import Layout from './Layout.astro';
import Columns from '../components/Columns.astro';
import Signup from '../components/Signup.astro';
import Purchase from '../components/Purchase.astro';

const frontmatter = Astro.props;

type Props = CollectionEntry<"devotionals">['data'];
type PropsES = CollectionEntry<"devocionales">['data'];
---

<Layout frontmatter={frontmatter}>
	<Columns>
		<article class="column-one section" slot="column-one">
			<h1 class="section-title">{frontmatter.title}</h1>
			<slot />
		</article>
		<div class="column-two" slot="column-two">
			<Signup frontmatter={frontmatter} />
			<Purchase frontmatter={frontmatter} />
		</div>
	</Columns>
</Layout>
