---
import type { CollectionEntry } from 'astro:content';
import Layout from './Layout.astro';

const frontmatter = Astro.props;

type Props = CollectionEntry<"devotionals">['data'];
type PropsES = CollectionEntry<"devocionales">['data'];
---

<Layout frontmatter={frontmatter}>
	<article>
		<div class="prose">
			<div class="title">
				<h1>{frontmatter.title}</h1>
			</div>
			<slot />
		</div>
	</article>
</Layout>
