---
import Layout from '../../layouts/LayoutEn.astro';
import { getCollection } from 'astro:content';

const devotionals = await getCollection('devotionals');
---

<Layout>
	<section class="posts">
		<ul>
			{
				devotionals.map((devotional) => (
					<li>
						<a class="section" href={`/devotionals/${devotional.slug}/`}>
							<h2 class="title">{devotional.data.title}</h2>
							{devotional.data.week && <span>Week {devotional.data.week}</span>}
						</a>
					</li>
				))
			}
		</ul>
	</section>
</Layout>