---
import Layout from '../../layouts/Layout.astro';
import { getCollection } from 'astro:content';

const frontmatter = { lang: "en" };
const devotionals = await getCollection('devotionals');
 // @ts-ignore: Object is possibly 'null'.
devotionals.sort((a, b) => a.data.week -  b.data.week);
---

<Layout frontmatter={frontmatter}>
	<section class="posts">
		<ul>
			{
				devotionals.map((devotional) => (
					<li>
						<a class="section" href={`/devotionals/${devotional.slug}/`}>
							<h3 class="title">{devotional.data.title}</h3>
							{devotional.data.week ? <span>Week {devotional.data.week}</span>: ""}
						</a>
					</li>
				))
			}
		</ul>
	</section>
</Layout>